<div class="col-md-6">
	<div>
		<h2><%= @user.full_name %></h2>
		<ul>
			<li>Location: <%= @user.location %></li>
			<li>Bio: <%= @user.bio%></li>
		</ul>
	</div>
</div>

<div>
	<%=render 'followers_modal'%>
	<%=render 'followees_modal'%>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#folowerModal">Followers</button>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#foloweeModal">Following</button>
	<%= form_for @follow do |f| %>
		<%=hidden_field_tag "followee_id", @user.id %>
		<%=f.submit%>
	<%end%>
</div>

<div class="container container-table">
    <div class="row vertical-center-row">	
	    <% @tweets.each do |tweet| %>
			<div class="panel panel-default">
				 <div class="panel-heading">
			 		<%= link_to User.find(tweet.user_id).full_name, user_path(User.find(tweet.user_id))%>
			 	</div>
			 	<div class="panel-body">
			 		 <%= "#{tweet.description}" %>
			 	</div>
			 </div>
		<% end %>
	</div>
</div>

