<p id="notice"><%= notice %></p>

<ul>
	<% if !@user.nil?%>
		<%= form_for @tweet do |t| %>

			<p>
				<%= t.label "Send your tweet:" %><br/>
				<%= t.text_area :description %>
			</p>
			<p>
				<%= t.submit%>
			</p>
		<%end%>
	<%end%>



	<% @tweets.each do |tweet| %>

	<li>
		<%="#{tweet.description}" %>
	</li>

	<% end %>
</ul>