	<div class="container container-table">
    	<div class="row vertical-center-row">	
			<% if !@user.nil?%>
				<%= form_for @tweet do |t| %>

					<p>
						<b><%= t 'layouts.home.send'%></b><br/>
						<%= t.text_area :description %>
					</p>
					<p>
						<%= t.submit%>
					</p>
				<%end%>
			<%end%>
		</div>
	</div>

	<div class="container container-table">
    	<div class="row vertical-center-row">	
			<h2> <%= t 'layouts.home.latests_tweets'%></h2>

	    	<% @tweets.each do |tweet| %>
				<div class="panel panel-default">
				 	<div class="panel-heading">
			 			<%= link_to User.find(tweet.user_id).full_name, user_path(User.find(tweet.user_id))%>
			 		</div>
			 		<div class="panel-body">
			 		 	<%= "#{tweet.description}" %>
			 		 </div>
			 	</div>
			<% end %>
		</div>

		<%= paginate @tweets %>
		
	</div>