<h1> Login </h1>

<%if @user_session.errors.any? %>
	<div id="error_explanation">
			<% @user_session.errors.full_messages.each do |message|%>
				<%=message%>
			<%end%>
	</div>
<% end %>
	
<%=form_for @user_session do |f| %>
	<p>
		<%= f.label :email%><br/>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password%><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit%>
	</p>
<% end %>

<p><%= link_to "Register",new_user_path%></p>