<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <header>
    	<div id="header-wrap">
    		<h1><%= link_to "Twitter", root_path %></h1>
	      	<% if user_signed_in? %>
	        	<%= render 'layouts/user_navbar' %>
	      	<% else %>
	        	<%= render 'layouts/visitor_navbar' %>
	      	<% end %>
    	</div>
  	</header>

    <%= yield %>
  </body>
</html>
